<div class="sidebar" data-color="purple" data-background-color="white">
  <div class="logo">
    <a href="https://owlbeardm.com/" class="simple-text logo-normal">
      OwlbearDM
    </a>
  </div>
  <div class="sidebar-wrapper">
    <ul class="nav">
      <li class="nav-item" ui-sref-active="active">
        <a class="nav-link navbar-toggler" ui-sref="list" >
          <i class="fas fa-scroll"></i>
          <p>
            Spells
          </p>
        </a>
      </li>
      <li class="nav-item" ui-sref-active="active">
        <a class="nav-link" ui-sref="spellbook.characters">
          <i class="fas fa-user"></i>
          <p>
            Characters
          </p>
        </a>
      </li>
    </ul>
  </div>
  <div class="sidebar-background"></div>
</div>
