<div class="card-header" role="tab" id="heading{{$ctrl.index}}" data-toggle="collapse" href="#collapse{{$ctrl.index}}" aria-expanded="false" aria-controls="collapse{{$ctrl.index}}">
  <h5 class="mb-0 text-primary">
    <a>
      Level {{$ctrl.level}}
      <i class="float-right fas fa-chevron-down expanded-flip"></i>
      <button ng-if="!$ctrl.editMode" class="btn btn-sm btn-round float-right mr-1" ng-click="$ctrl.edit();$event.stopPropagation();">edit</button>
    </a>
  </h5>
  <div ng-if="!$ctrl.editMode" class='text-dark'>
    <small ng-class="{'text-danger': $ctrl.spellLevel.spells.length>$ctrl.spellLevel.perDay, 'text-warning': $ctrl.spellLevel.spells.length<$ctrl.spellLevel.perDay}">Prepared <span >{{$ctrl.spellLevel.spells.length}}/{{$ctrl.spellLevel.perDay}}</span></small>
    <small ng-if="$ctrl.level!='0'" class='ml-2'>Cast {{$ctrl.castSpells()}}/{{$ctrl.spellLevel.perDay}}</small>
  </div>
  <div class="mt-2" ng-if="$ctrl.editMode">
    <form name="addCharacterForm" ng-submit="$ctrl.saveEdit()" ng-click="$event.stopPropagation();">
      <div class="row">
        <div class="form-group label-floating bmd-form-group col-6">
          <label class="control-label bmd-label-static pl-3" for="perDay">Spells per Day</label>
          <input id='perDay' name='perDay' min='0' step='1' type="number" ng-model='$ctrl.perDay' class="form-control">
        </div>
      </div>
      <div class="form-group">
        <!-- ng-disabled="addPcForm.$invalid" -->
        <button type="submit" class="btn btn-success" ng-click="$ctrl.saveEdit();$event.stopPropagation();">Save</button>
        <button type="button" class="btn btn-danger" ng-click="$ctrl.cancelEdit();$event.stopPropagation();">Cancel</button>
      </div>
    </form>
  </div>
</div>

<div id="collapse{{$ctrl.index}}" ng-if="$ctrl.spellLevel.spells.length" class="collapse" role="tabpanel" aria-labelledby="heading{{$ctrl.index}}" data-parent="#accordionExample">
  <div class="card-body">
    <table class="table table-sm">
      <tbody>
        <tr ng-repeat="spell in $ctrl.spellLevel.spells">
          <td ng-click="$ctrl.chooseSpell(spell.name)">
            <a href="#" class="text-dark">
              {{spell.name}}
            </a>
            <!-- <div><small class="text-info">{{spell.duration}}</small>; <small class="text-info">{{spell.savingThrow}}</small></div> -->
          </td>
          <td class="float-right">
            <a href="#" class="ml-2 mr-3" ng-click="$ctrl.delete($ctrl.level, $index)">
              <i class="fas fa-trash text-danger"></i>
              <div class="ripple-container"></div>
            </a>
          </td>
          <td ng-if="!spell.cast && $ctrl.level!='0'" class="float-right">
            <a href="#" class="ml-2 mr-3" ng-click="$ctrl.cast($ctrl.level, $index)">
              <i class="fas fa-scroll text-success"></i>
            </a>
          </td>
          <td ng-if="spell.cast && $ctrl.level!='0'" class="float-right">
            <a href="#" class="ml-2 mr-3" ng-click="$ctrl.restore($ctrl.level, $index)">
              <i class="fas fa-undo-alt text-muted"></i>
            </a>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
