<footer class="footer">
  <div class="container-fluid">
    <div class="row">
      <div class="col-md">
        <nav class="float-md-left">
          <ul>
            <li>
              <a href="https://github.com/owlbeardm/scrollbear">
                GitHub
              </a>
            </li>
            <li>
              <a href="https://twitter.com/OwlbearDm">twitter</a>
            </li>
            <li>
              <a href="mailto:owlbeardm@gmail.com?subject=Scrollbear: ">Email ME</a>
            </li>
            <li>
              <a href="https://c7d5a6.com/">
                CONTACTS
              </a>
            </li>
          </ul>
        </nav>
      </div>
      <div class="col-md-auto">
        <div class="copyright float-md-right">
          <div class="row">
            <div class="col-md-auto pr-1">
              <span>2018-2019 © Mikita Kukavenka,<span>
            </div>
            <div class="col-md pl-0">
              <a href="https://owlbeardm.com/" rel="noreferrer" target="_blank">OwlbearDM</a><span ng-if="$ctrl.version">, {{$ctrl.version}}<span>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</footer>
