.main-panel {
  width: 100%;
}

.col-centered {
  float: none;
  margin: 0 auto;
}

.text-muted {
  color: #d4d4d3 !important;
}

.navbar-toggler .icon-bar {
  background-color: #f8f9fa !important;
}

.card-collapse {
  margin: 0px;
}

.accordion {
  margin-left: -20px;
  margin-right: -20px;
}

table.table-fit {
  width: auto !important;
  table-layout: auto !important;
}

table.table-fit thead th, table.table-fit tfoot th {
  width: auto !important;
}

table.table-fit tbody td, table.table-fit tfoot td {
  width: auto !important;
}

.table-sm th, .table-sm td {
  padding: 6px 4px !important;
}

.spell-description {
  margin-bottom: 1rem;
  padding-left: 1em;
}

.spell-description p {
  text-indent: -1em;
  margin-bottom: 0;
}

div[aria-expanded="true"] i.fa-chevron-down, a[aria-expanded="true"] i.fa-angle-double-down {
  -ms-filter: "progid:DXImageTransform.Microsoft.BasicImage(rotation=2, mirror=1)";
  -webkit-transform: scale(1, -1);
  -ms-transform: scale(1, -1);
  transform: scale(1, -1);
  transition-duration: 0.2s;
}

div[aria-expanded="false"] i.fa-chevron-down, a[aria-expanded="false"] i.fa-angle-double-down {
  -ms-filter: "progid:DXImageTransform.Microsoft.BasicImage(rotation=0, mirror=1)";
  -webkit-transform: scale(1, 1);
  -ms-transform: scale(1, 1);
  transform: scale(1, 1);
  transition-duration: 0.2s;
}

form .form-group .error {
  font-size: .8rem;
  color: #f44336;
}

.characters .btn-secondary {
  background-color: #f4f3e7 !important;
}

.main-panel>.content {
  min-height: calc(100vh - 208px);
}

@media (min-width: 775px) {
  .main-panel>.content {
    min-height: calc(100vh - 154px);
  }
}

.main-panel>.content {
  padding: 15px 15px;
}

.bootstrap-select>.btn-light {
  color: #343a40;
  background-color: #f4f3e7;
  border-color: #DEDDD2;
  border-bottom: 1px solid #DEDDD2;
  box-shadow: none;
  text-transform: capitalize;
}

.bootstrap-select>.btn-light:hover {
  color: #343a40;
  background-color: #DEDDD2;
  border-color: #C8C7BE;
}

.bootstrap-select>.btn-light:focus, .bootstrap-select>.btn-light.focus {
  box-shadow: none, 0 0 0 0.2rem rgba(216, 217, 219, 0.5);
  color: #343a40;
  background-color: #f4f3e7;
  border-color: #f4f3e7;
}

.bootstrap-select>.btn-light.disabled, .bootstrap-select>.btn-light:disabled {
  color: #343a40;
  background-color: #f4f3e7;
  border-color: #f4f3e7;
}

.bootstrap-select>.btn-light:not(:disabled):not(.disabled):active, .bootstrap-select>.btn-light:not(:disabled):not(.disabled).active, .bootstrap-select .show>.btn-light.dropdown-toggle {
  color: #343a40;
  background-color: #DEDDD2;
  border-color: #C8C7BE;
}

.bootstrap-select>.btn-light:not(:disabled):not(.disabled):active:focus, .bootstrap-select>.btn-light:not(:disabled):not(.disabled).active:focus, .bootstrap-select .show>.btn-light.dropdown-toggle:focus {
  box-shadow: none, 0 0 0 0.2rem rgba(216, 217, 219, 0.5);
}

.bootstrap-select .show>.btn.dropdown-toggle:hover {
  color: #343a40;
  background-color: #DEDDD2;
  border-color: #C8C7BE;
}

.accordion .card .card-header {
  z-index: 0 !important;
}

.push-shadow {
  transition: text-shadow 0.2s cubic-bezier(0.4, 0, 1, 1), background-color 0.2s cubic-bezier(0.4, 0, 0.2, 1),  color 0.2s cubic-bezier(0.4, 0, 0.2, 1);
  will-change: text-shadow, transform;
}
:not(:disabled):not(.disabled):active> .push-shadow {
  text-shadow: none;
}
.disabled> .push-shadow {
  text-shadow: none!important;
}

.text-primary> .push-shadow {
  text-shadow: 0 1px 2px rgba(202, 148, 92, 0.14), 0 2px 1px rgba(202, 148, 92, 0.2), 0 0px 5px rgba(202, 148, 92, 0.12);
}
.text-primary:active> .push-shadow,
.text-primary:hover> .push-shadow {
  text-shadow: 0 5px 5px rgba(202, 148, 92, 0.42), 0 3px 2px rgba(0, 0, 0, 0.12), 0 2px 5px rgba(202, 148, 92, 0.2);
}

.text-muted> .push-shadow {
  text-shadow: 0 1px 2px rgba(210, 210, 210, 0.14), 0 2px 1px rgba(210, 210, 210, 0.2), 0 0px 5px rgba(210, 210, 210, 0.12);
}
.text-muted:active> .push-shadow,
.text-muted:hover> .push-shadow {
  text-shadow: 0 5px 5px rgba(210, 210, 210, 0.42), 0 3px 2px rgba(0, 0, 0, 0.12), 0 2px 5px rgba(210, 210, 210, 0.2);
}

.text-success> .push-shadow {
  text-shadow: 0 1px 2px rgba(114, 167, 84, 0.14), 0 2px 1px rgba(114, 167, 84, 0.2), 0 0px 5px rgba(114, 167, 84, 0.12);
}
.text-success:active> .push-shadow,
.text-success:hover> .push-shadow {
  text-shadow: 0 5px 5px rgba(114, 167, 84, 0.42), 0 3px 2px rgba(0, 0, 0, 0.12), 0 2px 5px rgba(114, 167, 84, 0.2);
}

.text-danger> .push-shadow {
  text-shadow: 0 1px 2px rgba(244, 67, 54, 0.14), 0 2px 1px rgba(244, 67, 54, 0.2), 0 0px 5px rgba(244, 67, 54, 0.12);
}
.text-danger:active> .push-shadow,
.text-danger:hover> .push-shadow {
  text-shadow: 0 5px 5px rgba(244, 67, 54, 0.42), 0 3px 2px rgba(0, 0, 0, 0.12), 0 2px 5px rgba(244, 67, 54, 0.2);
}

a:not(:hover):not(:active).text-success:focus {
    color: #72a754 !important;
}
a:not(:hover):not(:active).text-danger:focus {
    color: #f44336 !important;
}
a:not(:hover):not(:active).text-primary:focus {
    color: #ca945c !important;
}
a:not(:hover):not(:active).text-muted:focus {
    color: #d4d4d3 !important;
}
a:not(.disabled).text-muted:active,
a:not(.disabled).text-muted:hover {
    color: #a3a3a0 !important;
}

.dropleft .dropdown-toggle::before,
.dropleft .dropdown-toggle::after{
  content: none;
  }

.accordion .card {
  overflow: visible;
}
