<spell spell="$ctrl.spell"></spell>
<div class="card">
  <div class="card-header">
    <div class="flextable table-actions">
      <div class="flextable-item ">
        <form ng-submit="$ctrl.search()">
          <div class="form-row">
            <div class="col col-centered ">
              <select class="form-control" ng-change="$ctrl.setClass()" name="classSelect" id="classSelect" ng-model="$ctrl.classSelected">
                <option ng-repeat="(key, value) in $ctrl.classes" value="{{key}}">{{value}}</option>
              </select>
            </div>
          </div>
          <div class="form-row">
            <div class="col">
              <input type="text" class="form-control input-block" placeholder="Search" ng-change="$ctrl.search()" ng-model="$ctrl.filter">
            </div>
            <div class="col-auto">
              <div class="form-check">
                <label class="form-check-label text-info">
                  <input class="form-check-input" type="checkbox" ng-change="$ctrl.search()" ng-model="$ctrl.favOnly">
                  <span class="form-check-sign">
                    <span class="check"></span>
                  </span>
                  Favorites Only
                </label>
              </div>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
  <div class="card-body">
    <spelllist spells="$ctrl.spells" class-name="$ctrl.classSelected"></spelllist>
  </div>
  <div class="card-footer">
    <div class="container">
      <span class="float-right">
      Total: {{$ctrl.total}}
    </span>
    </div>
  </div>
</div>
<ui-view></ui-view>
