<div class="row border rounded mt-1" ng-class="{'border-primary': $ctrl.initiativeCount == $ctrl.pc.initiative}">
  <div class="col-2">
    <div ng-if="!$ctrl.editNameMode" class="form-group">
      <input id="changeNameInput" type="text" class="form-control" ng-model="$ctrl.pc.name">
      <!-- <span>{{$ctrl.pc.name}}</span> -->
      <!-- <a href="#" ng-click="$ctrl.editName()" class="badge badge-light ml-auto" title="Edit"><span class="fas fa-pencil-alt ml-1 text-secondary"></span></a> -->
    </div>
    <form ng-submit="$ctrl.changeName()" ng-if="$ctrl.editNameMode">
      <div class="input-group input-group-sm">
        <input id="changeNameInput" type="text" class="form-control" ng-model="$ctrl.name">
        <div class="input-group-append">
          <button type="submit" class="btn btn-outline-success btn-sm">
            <span class="fas fa-check"></span>
          </button>
          <button type="button" ng-click="$ctrl.editName()" class="btn btn-outline-danger btn-sm">
            <span class="fas fa-times"></span>
          </button>
        </div>
      </div>
    </form>
  </div>
  <div class="col-3">
    <div class="row">
      <div class="col-9">
        <div class="row">
          <div class="col-6">
            <div ng-if="!$ctrl.editHpMode && !$ctrl.minusHpMode" class="form-group has-success">
              <!-- <span>{{$ctrl.pc.hp}}</span> -->
              <input type="number" class="form-control" ng-model="$ctrl.pc.hp">
              <span class="form-control-feedback text-muted">HP</span>
              <!-- <a href="#" ng-click="$ctrl.editMinusHp()" class="badge badge-light ml-auto" title="Decrease hit points"><span class="fas fa-minus ml-1 text-secondary"></span></a> -->
              <!-- <a href="#" ng-click="$ctrl.editHp()" class="badge badge-light" title="Edit"><span class="fas fa-pencil-alt ml-1 text-secondary"></span></a> -->
            </div>
            <form name="changeHp" ng-submit="$ctrl.changeHp()" ng-if="$ctrl.editHpMode">
              <div class="input-group input-group-sm">
                <input type="number" class="form-control" ng-model="$ctrl.hp">
                <div class="input-group-append">
                  <button type="submit" class="btn btn-outline-success btn-sm">
                    <span class="fas fa-check"></span>
                  </button>
                  <button type="button" ng-click="$ctrl.editHp()" class="btn btn-outline-danger btn-sm">
                    <span class="fas fa-times"></span>
                  </button>
                </div>
              </div>
            </form>
            <form name="minusHp" ng-submit="$ctrl.minusHp()" ng-if="$ctrl.minusHpMode">
              <div class="input-group input-group-sm">
                <input type="number" class="form-control" ng-model="$ctrl.hp">
                <div class="input-group-append">
                  <button type="submit" class="btn btn-outline-success btn-sm">
                    <span class="fas fa-check"></span>
                  </button>
                  <button type="button" ng-click="$ctrl.editMinusHp()" class="btn btn-outline-danger btn-sm">
                    <span class="fas fa-times"></span>
                  </button>
                </div>
              </div>
            </form>
          </div>
          <div class="col-6">
            <div ng-if="!$ctrl.editDexMode" class="form-group has-success">
              <!-- <span>{{$ctrl.pc.dex}}</span> -->
              <input type="number" class="form-control" ng-model="$ctrl.pc.dex">
              <span class="form-control-feedback text-muted">DEX</span>
              <!-- <a href="#" ng-click="$ctrl.editDex()" class="badge badge-light ml-auto" title="Edit"><span class="fas fa-pencil-alt ml-1 text-secondary"></span></a> -->
            </div>
            <form name="changeDex" ng-submit="$ctrl.changeDex()" ng-if="$ctrl.editDexMode">
              <div class="input-group input-group-sm">
                <input type="number" class="form-control" ng-model="$ctrl.dex">
                <div class="input-group-append">
                  <button type="submit" class="btn btn-outline-success btn-sm">
                    <span class="fas fa-check"></span>
                  </button>
                  <button type="button" ng-click="$ctrl.editDex()" class="btn btn-outline-danger btn-sm">
                    <span class="fas fa-times"></span>
                  </button>
                </div>
              </div>
            </form>
          </div>
        </div>
      </div>
      <div class="col-3">
        <div class="form-group has-success">
          <input type="number" class="form-control" ng-class="{'border-warning': !$ctrl.pc.initiative}" ng-model="$ctrl.pc.initiative">
        </div>
      </div>
    </div>
  </div>
  <div class="col-2">
    <div class="btn-group" role="group">
      <button type="button" class="btn btn-outline-success btn-sm" ng-class="{'active': !$ctrl.pc.actions[0]}" ng-disabled="$ctrl.pc.actions[2]" ng-click="$ctrl.checkAction(0)" title="Standard Action">s.a.</button>
      <button type="button" class="btn btn-outline-warning btn-sm" ng-class="{'active': !$ctrl.pc.actions[1]}" ng-disabled="$ctrl.pc.actions[2]" ng-click="$ctrl.checkAction(1)" title="Move Action">m.a.</button>
      <button type="button" class="btn btn-outline-dark btn-sm" ng-class="{'active': !$ctrl.pc.actions[2]}" ng-disabled="$ctrl.pc.actions[0] || $ctrl.pc.actions[1]" ng-click="$ctrl.checkAction(2)" title="Full-round Action">f-r.a.</button>
      <button type="button" class="btn btn-outline-info btn-sm" ng-class="{'active': !$ctrl.pc.actions[3]}" ng-click="$ctrl.checkAction(3)" title="Swift Action">sw.a</button>
    </div>
  </div>

  <div class="col">
    <div class="row">
      <div class="col">
        <condition ng-repeat="condition in $ctrl.pc.conditions track by $index" delete="$ctrl.deleteCondition($index)" condition="condition"></condition>
        <form name="addCondition" ng-submit="$ctrl.addCondition()" ng-if="$ctrl.addConditionMode" class="mt-1">
          <div class="form-row align-items-center">
            <div class="col">
              <input id="addConditionName" type="text" class="form-control form-control-sm mb-2" ng-model="$ctrl.condition.name" placeholder="name">
            </div>
          </div>
          <div class="form-row align-items-center">
            <div class="col-auto">
              <input id="addConditionCount" type="number" class="form-control form-control-sm" ng-model="$ctrl.condition.count" placeholder="count">
            </div>
            <div class="col-auto">
              <div class="form-check">
                <label class="form-check-label">
                  <input class="form-check-input" type="checkbox" ng-model="$ctrl.condition.descending">
                  <span class="form-check-sign">
                    <span class="check"></span>
                  </span>
                  descending
                </label>
              </div>
            </div>
            <div class="col">
              <div class="btn-group float-right" role="group">
                <button type="submit" class="btn btn-outline-success btn-sm">Add</button>
                <button type="button" class="btn btn-outline-danger btn-sm" ng-click="$ctrl.changeAddConditionMode()">Cancel</button>
              </div>
            </div>
          </div>
        </form>
        <a href="#" ng-click="$ctrl.changeAddConditionMode()" class="badge badge-pill badge-light ml-auto" title="Add condition" ng-if="!$ctrl.addConditionMode"><span class="fas fa-plus ml-1 text-secondary"></span></a>
      </div>
      <div class="col-1">
        <button ng-click="$ctrl.deleteThis()" class="btn btn-outline-danger btn-sm float-right" title="Delete"><span class="fas fa-times"></span></button>
      </div>
    </div>
  </div>
</div>
