<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="false">
  <div class="modal-dialog modal-lg" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h3 class="modal-title" id="exampleModalLabel">{{$root.spell.name}}</h3>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
      <span class="fas fa-times"></span>
    </button>
      </div>
      <div class="modal-body">
        <div>
          <p><b>School </b> {{$root.spell.school}}<span ng-if="$root.spell.subschool"> ({{$root.spell.subschool}})</span><span ng-if="$root.spell.descripters"> {{$ctrl.getDescripters()}}</span>;
            <b>Level </b>{{$root.spell.levels}}<br />
            <!-- sorcerer/wizard 1 -->
            <b>Casting Time </b> {{$root.spell.castingTime}}
            <br />
            <b>Components </b> {{$root.spell.components}}
            <br />
            <span ng-if="$root.spell.range"><b>Range </b>{{$root.spell.range}}<br /></span>
            <span ng-if="$root.spell.area"><b>Area </b>{{$root.spell.area}}<br /></span>
            <span ng-if="$root.spell.target"><b>Target </b>{{$root.spell.target}}<br /></span>
            <span ng-if="$root.spell.targets"><b>Targets </b>{{$root.spell.targets}}<br /></span>
            <span ng-if="$root.spell.effect"><b>Effect </b>{{$root.spell.effect}}<br /></span>
            <span ng-if="$root.spell.duration"><b>Duration </b>{{$root.spell.duration}}<br /></span>
            <span ng-if="$root.spell.savingThrow"><b>Saving Throw </b>{{$root.spell.savingThrow}}; <b>Spell Resistance </b>{{$root.spell.spellResistance}}</p></span>
            <!-- <p ng-repeat="paragraph in $root.spell.description.split('\n') track by $index">{{paragraph}}</p> -->
            <ng-bind-html ng-bind-html="$ctrl.dd()"></ng-bind-html>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-primary" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>
