<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="false">
  <div class="modal-dialog modal-lg" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h3 class="modal-title" id="exampleModalLabel">{{$ctrl.rootScope.spell.name}}</h3>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
      <span class="fas fa-times"></span>
    </button>
      </div>
      <div class="modal-body">
        <div>
          <p><b>School </b> {{$ctrl.rootScope.spell.school}}<span ng-if="$ctrl.rootScope.spell.subschool"> ({{$ctrl.rootScope.spell.subschool}})</span><span ng-if="$ctrl.rootScope.spell.descripters"> {{$ctrl.getDescripters()}}</span>;
          <b>Level </b>{{$ctrl.rootScope.spell.levels}}<br />
          <!-- sorcerer/wizard 1 -->
          <b>Casting Time </b>
          {{$ctrl.rootScope.spell.castingTime}}<br />
          <b>Components </b>
          {{$ctrl.rootScope.spell.components}}<br />
          <span ng-if="$ctrl.rootScope.spell.range"><b>Range </b>{{$ctrl.rootScope.spell.range}}<br /></span>
          <span ng-if="$ctrl.rootScope.spell.area"><b>Area </b>{{$ctrl.rootScope.spell.area}}<br /></span>
          <span ng-if="$ctrl.rootScope.spell.target"><b>Target </b>{{$ctrl.rootScope.spell.target}}<br /></span>
          <span ng-if="$ctrl.rootScope.spell.targets"><b>Targets </b>{{$ctrl.rootScope.spell.targets}}<br /></span>
          <span ng-if="$ctrl.rootScope.spell.effect"><b>Effect </b>{{$ctrl.rootScope.spell.effect}}<br /></span>
          <span ng-if="$ctrl.rootScope.spell.duration"><b>Duration </b>{{$ctrl.rootScope.spell.duration}}<br /></span>
          <span ng-if="$ctrl.rootScope.spell.savingThrow"><b>Saving Throw </b>{{$ctrl.rootScope.spell.savingThrow}}; <b>Spell Resistance </b>{{$ctrl.rootScope.spell.spellResistance}}</p></span>
          <p ng-repeat="paragraph in $ctrl.rootScope.spell.description.split('\n') track by $index">{{paragraph}}</p>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-primary" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>
