<div class="accordion" id="accordionExample">
  <div ng-repeat="(key, value) in $ctrl.spells" class="card card-collapse">
    <div class="card-header" role="tab" id="heading{{key}}" data-toggle="collapse" href="#collapse{{key}}" aria-expanded="true" aria-controls="collapse{{key}}">
      <h5 class="mb-0 text-primary">
        <a >
          {{$ctrl.classesC[$ctrl.className]}} {{key}}
          <i class="float-right fas fa-chevron-down"></i>
          <div><small class='text-muted'>count {{value.length}}</small></div>
        </a>
      </h5>
    </div>

    <div id="collapse{{key}}" class="collapse" role="tabpanel" aria-labelledby="heading{{key}}" data-parent="#accordionExample">
      <div class="card-body">
        <table class="table">
          <tbody>
            <tr ng-repeat="spell in value track by $index">
              <td ng-click="$ctrl.chooseSpell(spell)">
                <a href="#" class="text-dark">
                  {{spell.name}}
                </a>
                <div><small class="text-info">{{spell.duration}}</small>; <small class="text-info">{{spell.savingThrow}}</small></div>
              </td>
              <td class="float-right">
                <button type="button" rel="tooltip" title="" class="btn btn-primary btn-link btn-sm" ng-click="$ctrl.changeFav(spell)">
                  <i class="fa-2x fa-star" ng-class="{'fas text-primary': $ctrl.isFav(spell), 'far text-muted': !$ctrl.isFav(spell)}"></i>
                  <div class="ripple-container"></div>
                </button>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>
