<footer class="footer">
  <div class="container-fluid">
    <div class="row">
      <div class="col-md">
        <nav class="float-md-left">
          <ul>
            <li>
              <a href="https://github.com/owlbeardm/scrollbear">
                GitHub
              </a>
            </li>
            <li>
              <a href="mailto:owlbeardm@gmail.com?subject=Scrollbear: ">Email ME</a>
            </li>
            <li>
              <a href="https://c7d5a6.com/">
                CONTACTS
              </a>
            </li>
            <li>
              <a ui-sref="spellbook.characters">
                spellbook
              </a>
            </li>
          </ul>
        </nav>
      </div>
      <div class="col-md">
        <div class="copyright float-md-right">
          2018-2019 by <a href="https://owlbeardm.com/" target="_blank">OwlbearDM</a>
        </div>
      </div>
    </div>
  </div>
</footer>
