<footer class="footer">
  <div class="container-fluid">
    <nav class="float-left">
      <ul>
        <li>
          <a href="https://github.com/owlbeardm/scrollbear">
            GitHub
          </a>
        </li>
        <li>
          <a href="mailto:owlbeardm@gmail.com?subject=Scrollbear: ">Email ME</a>
        </li>
        <li>
          <a href="https://c7d5a6.com/">
            CONTACTS
          </a>
        </li>
      </ul>
    </nav>
    <div class="copyright float-right">
      2018-2019 by <a href="https://owlbeardm.com/" target="_blank">OwlbearDM</a>
    </div>
  </div>
</footer>
