<form name="addCharacterForm" ng-submit="$ctrl.add()">
  <div class="form-group label-floating" ng-class="{'has-danger': addCharacterForm.name.$dirty && (!$ctrl.name || $ctrl.name == 'exists'), 'has-success': addCharacterForm.name.$dirty && $ctrl.name && $ctrl.name != 'exists'}">
    <input id='name' name="name" type="text" placeholder="Name" ng-model='$ctrl.name' class="form-control">
    <span class="form-control-feedback">
      <i class="material-icons" ng-if="addCharacterForm.name.$dirty && (!$ctrl.name || $ctrl.name == 'exists')">clear</i>
      <i class="material-icons" ng-if="addCharacterForm.name.$dirty && $ctrl.name && $ctrl.name != 'exists'">done</i>
    </span>
    <label id="name-empy-error" ng-class="{'error': addCharacterForm.name.$dirty}" ng-if='!$ctrl.name' for="name">This field is required.</label>
    <label id="name-double-error" ng-if="$ctrl.name == 'exists'" class="error" for="name">Character with this name already exists.</label>
  </div>
  <div class="form-group">
    <div class="form-check form-check-radio">
      <label class="form-check-label text-dark">
        <input class="form-check-input" type="radio" name="exampleRadios" id="exampleRadios1" ng-model="$ctrl.prepared" ng-value="false">
        Spontaneous casting
        <span class="circle">
          <span class="check"></span>
        </span>
      </label>
    </div>
    <div class="form-check form-check-radio">
      <label class="form-check-label text-dark">
        <input class="form-check-input" type="radio" name="exampleRadios" id="exampleRadios2" ng-model="$ctrl.prepared" ng-value="true">
        Prepared casting
        <span class="circle">
          <span class="check"></span>
        </span>
      </label>
    </div>
  </div>
  <div class="form-group">
    <div class="form-check">
      <label class="form-check-label text-dark">
        <input class="form-check-input" type="checkbox" ng-model="$ctrl.spellbook">
        Include spellbook (witch's familiar, etc)
        <span class="form-check-sign">
          <span class="check"></span>
        </span>
      </label>
    </div>
  </div>
  <div class="form-group">
    <!-- <label for="inputState">Class</label> -->
    <select class="form-control" name="classSelect" id="classSelect" ng-model="$ctrl.classSelected">
      <option ng-repeat="(key, value) in $ctrl.classes" value="{{key}}">{{value.name}}</option>
    </select>
    <label id="name-empy-error" ng-class="{'error': addCharacterForm.classSelect.$dirty}" ng-if='!$ctrl.classSelected' for="classSelect">This field is required.</label>
  </div>
  <div class="form-group">
    <!-- ng-disabled="addPcForm.$invalid" -->
    <button type="submit" class="btn btn-primary" ng-disabled='!$ctrl.classSelected || !$ctrl.name'>Add</button>
    <button type="button" class="btn btn-danger" ng-click="$ctrl.goBack()">Cancel</button>
  </div>
</form>
