<div class="accordion" id="accordionExample">
  <div ng-repeat="(key, value) in $ctrl.book" class="card card-collapse">
    <div class="card-header" role="tab" id="heading{{$index}}" data-toggle="collapse" href="#collapse{{$index}}" aria-expanded="false" aria-controls="collapse{{$index}}">
      <h5 class="mb-0 text-primary">
        <a >
          Level {{key}}
          <i class="float-right fas fa-chevron-down expanded-flip"></i>
          <div><small class='text-muted'>count {{value.length}}</small></div>
        </a>
      </h5>
    </div>

    <div id="collapse{{$index}}" class="collapse" role="tabpanel" aria-labelledby="heading{{$index}}" data-parent="#accordionExample">
      <div class="card-body">
        <table class="table table-sm">
          <tbody>
            <tr ng-repeat="spell in value | orderBy:'toString()'">
              <td ng-click="$ctrl.chooseSpell(spell)">
                <a href="#" class="text-dark">
                  {{spell}}
                </a>
                <!-- <div><small class="text-info">{{spell.duration}}</small>; <small class="text-info">{{spell.savingThrow}}</small></div> -->
              </td>
              <td class="float-right">
                <button type="button" rel="tooltip" title="" class="btn btn-primary btn-link btn-sm" ng-click="$ctrl.delete(key, $index)">
                  <i class="fas fa-lg fa-trash text-danger"></i>
                  <div class="ripple-container"></div>
                </button>
              </td>
              <td class="float-right">
                <button type="button" rel="tooltip" title="" class="btn btn-primary btn-link btn-sm" ng-click="$asd(spell)">
                  <i class="fas fa-lg fa-scroll text-warning"></i>
                  <div class="ripple-container"></div>
                </button>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>
<button ng-if="$ctrl.otherSpellsCount" ng-click="$ctrl.classToAll()" class='btn btn-warning'>Found <strong>{{$ctrl.otherSpellsCount}}</strong> spell{{$ctrl.otherSpellsCount!=1?'s':''}} in other classes</button>
<!-- <ui-view></ui-view> -->
