
<div class="card card-nav-tabs">
  <div class="card-header card-header-primary">
    <!-- colors: "header-primary", "header-info", "header-success", "header-warning", "header-danger" -->
    <div class="nav-tabs-navigation">
      <div class="nav-tabs-wrapper">
        <ul class="nav nav-tabs" data-tabs="tabs">
          <li class="nav-item">
            <a class="nav-link" href="#profile" data-toggle="tab">
              <i class="fas fa-user"></i> Characters
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#messages" data-toggle="tab">
              <i class="fas fa-scroll"></i> Prepared Spells
              <div class="ripple-container"></div></a>
          </li>
          <li class="nav-item">
            <a class="nav-link active show" href="#settings" data-toggle="tab">
              <i class="fas fa-book"></i> Spellbook
              <div class="ripple-container"></div></a>
          </li>
          <li class="nav-item">
            <a class="nav-link show" href="#asdsad" data-toggle="tab">
              <i class="fas fa-hat-wizard"></i> Spell List
              <div class="ripple-container"></div></a>
          </li>
        </ul>
      </div>
    </div>
  </div>
  <div class="card-body ">
    <div class="tab-content text-center">
      <div class="tab-pane" id="profile">
        <p> I will be the leader of a company that ends up being worth billions of dollars, because I got the answers. I understand culture. I am the nucleus. I think that’s a responsibility that I have, to push possibilities, to show people, this
          is the level that things could be at. I think that’s a responsibility that I have, to push possibilities, to show people, this is the level that things could be at. </p>
      </div>
      <div class="tab-pane" id="messages">
        <p> I think that’s a responsibility that I have, to push possibilities, to show people, this is the level that things could be at. I will be the leader of a company that ends up being worth billions of dollars, because I got the answers. I
          understand culture. I am the nucleus. I think that’s a responsibility that I have, to push possibilities, to show people, this is the level that things could be at.</p>
      </div>
      <div class="tab-pane active show" id="settings">
        <p>I think that’s a responsibility that I have, to push possibilities, to show people, this is the level that things could be at. So when you get something that has the name Kanye West on it, it’s supposed to be pushing the furthest
          possibilities. I will be the leader of a company that ends up being worth billions of dollars, because I got the answers. I understand culture. I am the nucleus.</p>
      </div>
    </div>
  </div>
</div>
