<div class="flextable table-actions">
  <div class="flextable-item ">
    <form ng-submit="$ctrl.search()">
      <div class="form-row">
        <div class="col">
          <input type="text" class="form-control input-block" placeholder="Search" ng-change="$ctrl.search()" ng-model="$ctrl.filter">
        </div>
        <div class="col-auto">
          <div class="form-check">
            <label class="form-check-label text-info">
              <input class="form-check-input" type="checkbox" ng-change="$ctrl.setFavOnly()" ng-model="$ctrl.favOnly">
              <span class="form-check-sign">
                <span class="check"></span>
              </span>
              Favorites Only
            </label>
          </div>
        </div>
      </div>


      <div class="form-row">

        <div class="col-auto">
          <a href="#" class="collapsed" data-toggle="collapse" data-target="#moreFilters" aria-expanded="false">
            More filters
            <span ng-if="$ctrl.filters.length">
              ({{$ctrl.filters | array}})
            </span>
          </a>
        </div>
      </div>
      <div class="collapse" id="moreFilters" style="">
        <div class="form-row">
          <div class="col col-centered ">
            <select class="selectpicker form-control" ng-change="$ctrl.setSchool()" name="schoolSelect" id="schoolSelect" ng-model="$ctrl.schoolSelected">
              <option ng-repeat="(key, value) in $ctrl.schools" value="{{key}}">{{value.name}}</option>
            </select>
          </div>
        </div>
        <div class="form-row">
          <div class="col col-centered ">
            <select class="selectpicker form-control" ng-change="$ctrl.setCastingTime()" name="castingTimeSelect" id="castingTimeSelect" ng-model="$ctrl.castingTimeSelected">
              <option ng-repeat="(key, value) in $ctrl.castingTimes" value="{{key}}">{{value.name}}</option>
            </select>
          </div>
        </div>
        <div class="form-row">
          <div class="col col-centered ">
            <select multiple title="Select source books" data-selected-text-format="count > 2" data-actions-box="true" class="selectpicker form-control" data-live-search="true" ng-change="$ctrl.setCastingTime()" name="castingTimeSelect" id="castingTimeSelect"
              ng-model="$ctrl.mcastingTimeSelected">
              <option ng-repeat="(key, value) in $ctrl.castingTimes" value="{{key}}">{{value.name}}</option>
            </select>
          </div>
        </div>
      </div>
      <div class="form-row">
        <div class="col">
          <button class="btn btn-sm" ng-click="$ctrl.reset()">Reset</button>
        </div>
      </div>
    </form>
  </div>
</div>
