<div class="flextable table-actions">
  <div class="flextable-item">
    <form ng-submit="$ctrl.search()">
      <div class="form-row ">
        <div class="col-md">
          <input type="text" class="form-control input-block" placeholder="Search" ng-change="$ctrl.search()" ng-model="$ctrl.filter">
        </div>
        <div class="col-auto">
          <div class="form-check togglebutton">
            <label class="text-info">
              <input type="checkbox" ng-change="$ctrl.setFavOnly()" ng-model="$ctrl.favOnly">
              <span class="toggle"></span>
              Favorites Only
            </label>
          </div>
        </div>
      </div>
      <div ng-if="$ctrl.onlyClassSpellsEnabled" class="form-row">
        <div class="col-auto">
          <div class="togglebutton form-check">
            <label class="text-info">
            <input type="checkbox" checked="" ng-model="$ctrl.onlyClassSpells" ng-change="$ctrl.onlyClassSpellsChanges()">
            <span class="toggle"></span>
            Show spells from all classes
          </label>
          </div>
        </div>
      </div>

      <div class="form-row mt-3">
        <div class="col-auto">
          <a href="#" class="collapsed text-primary" data-toggle="collapse" data-target="#moreFilters" aria-expanded="false">
            <h6>
              More filters
              <small><i class="ml-1 fas fa-angle-double-down expanded-flip"></i></small>
              <span class="ml-1 text-muted" ng-if="$ctrl.filters.length">
                ({{$ctrl.filters | array}})
              </span>
            </h6>
          </a>
        </div>
      </div>
      <div class="collapse" id="moreFilters" style="">
        <div class="form-row">
          <select class="col selectpicker" ng-change="$ctrl.setSchool()" name="schoolSelect" id="schoolSelect" ng-model="$ctrl.schoolSelected" ng-options="key as value.name for (key , value) in $ctrl.schools"></select>
        </div>
        <div class="form-row">
          <select class="col selectpicker" ng-change="$ctrl.setCastingTime()" name="castingTimeSelect" id="castingTimeSelect" data-mobile="true" ng-model="$ctrl.castingTimeSelected" ng-options="key as value.name for (key , value) in $ctrl.castingTimes">
          </select>
        </div>
        <div class="form-row">
            <select multiple title="Select source books"
            data-selected-text-format="count > 2"
            class="col selectpicker" data-live-search="true" ng-change="$ctrl.setCastingTime()"
            name="castingTimeSelect" id="castingTimeSelect"
            ng-model="$ctrl.sourceBookSelected"
            ng-options="book as book for book in $ctrl.sourceBooks| orderBy:'toString()'">
            </select>
        </div>
        <div class="form-group">
            <select multiple title="Select source books"
            data-selected-text-format="count > 2"
            class="selectpicker" data-live-search="true" ng-change="$ctrl.setCastingTime()"
            data-width="100%" data-mobile="true" name="castingTimeSelect" id="castingTimeSelect"
            ng-model="$ctrl.sourceBookSelected">
            <option ng-repeat="book in $ctrl.sourceBooks| orderBy:'toString()'" value='book'>{{ book | limitTo: 30 }}{{book.length > 30 ? '...' : ''}}</option>
            <!-- {{ myString | limitTo: 20 }}{{myString.length > 20 ? '...' : ''}} -->

            </select>
        </div>
      </div>
      <div class="form-row">
        <div class="col">
          <button class="btn btn-sm" ng-click="$ctrl.reset()">Reset</button>
        </div>
      </div>
    </form>
  </div>
</div>
