<div class="accordion" id="accordionExample">
  <div ng-repeat="(key, value) in $ctrl.spells" class="card card-collapse">
    <div class="card-header" role="tab" id="heading{{$index}}" data-toggle="collapse" href="#collapse{{$index}}" aria-expanded="false" aria-controls="collapse{{$index}}">
      <h5 class="mb-0 text-primary">
        <a >
          {{$ctrl.classes[$ctrl.classSelected].name}} {{key}}
          <i class="float-right fas fa-chevron-down expanded-flip"></i>
          <div><small class='text-muted'>count {{value.length}}</small></div>
        </a>
      </h5>
    </div>

    <div id="collapse{{$index}}" class="collapse" role="tabpanel" aria-labelledby="heading{{$index}}" data-parent="#accordionExample">
      <div class="card-body">
        <table class="table table-sm">
          <tbody>
            <tr ng-repeat="spell in value track by $index">
              <td ng-click="$ctrl.chooseSpell(spell)">
                <a href="#" class="text-dark">
                  {{spell.name}}
                </a>
                <!-- <div><small class="text-info">{{spell.duration}}</small>; <small class="text-info">{{spell.savingThrow}}</small></div> -->
              </td>
              <td class="float-right mb-1">
                <a href="#" class="ml-2 mr-3 text-primary" ng-class="{'text-primary': !$ctrl.isSpellPrepared(spell.name), 'text-muted': $ctrl.isSpellPrepared(spell.name)}" ng-disable="$ctrl.isSpellPrepared(spell.name)" ng-click="$ctrl.addSpell(key, spell)">
                  <i class="fas fa-scroll"></i>
                  <div class="ripple-container"></div>
                </a>
                <a href="#" class="ml-2 mr-3 text-primary" ng-class="{'text-primary': !$ctrl.isInSpellBook(spell.name), 'text-muted': $ctrl.isInSpellBook(spell.name)}" ng-disable="$ctrl.isInSpellBook(spell.name)" ng-click="$ctrl.addToBook(spell)">
                  <i class="fas fa-book"></i>
                  <div class="ripple-container"></div>
                </a>
                <!-- <a href="#" class="ml-2" ng-click="$">
                  <i class="fas fa-chevron-circle-down text-primary"></i>
                  <div class="ripple-container"></div>
                </a> -->
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>
<button ng-if="$ctrl.otherSpellsCount" ng-click="$ctrl.classToAll()" class='btn btn-warning'>Found <strong>{{$ctrl.otherSpellsCount}}</strong> spell{{$ctrl.otherSpellsCount!=1?'s':''}} in other classes</button>
<!-- <ui-view></ui-view> -->
